@use "../../scss/" as *;

button {
  cursor: pointer;
  font-family: $font-family;
}

.btn {
  appearance: none;
  background-color: transparent;
  border: 3px solid $main-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1.8rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn:hover {
  color: #fff;
  background-color: rgba($main-color, 0.5);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  text-shadow: -0.5px 0 #1A1A1A, 0 .5px #1A1A1A, .5px 0 #1A1A1A, 0 -1px #1A1A1A;

}

.btn:disabled {
  pointer-events: none;
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn-outline {
  border: 3px solid $main-color;
  background-color: transparent;
  color: white;
  box-shadow: unset;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.btn-outline:hover {
  color: #fff;
  background-color: rgba($main-color, 0.5);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  text-shadow: -0.5px 0 #1A1A1A, 0 .5px #1A1A1A, .5px 0 #1A1A1A, 0 -1px #1A1A1A;

}

.btn-outline:disabled {
  pointer-events: none;
}

.btn-outline:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn.small {
  border-width: 2px;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
}